@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-green-400 font-mono;
  background-color: #000000;
  font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

a {
  @apply text-green-300 hover:text-green-500 underline;
}