.root {
    --bg: #0e1129;
  }
  
  .about-container {
    display: flex;
    flex-direction: row;
    font-family: 'Fira Code', monospace;
    background-color: #0e1129;
    color: #d0d6f9;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  /* Sidebar */
  .sidebar {
    width: 20%;
    min-width: 200px;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-right:  1px solid #1e293b;
  }
  
  /* Title */
  .title {
    margin-bottom: 1rem;
    color: #facc15;
    font-size: 0.9rem;
    border-bottom: 1px solid #1e293b;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
  }
  
  /* Explorer List */
  .explorer {
    list-style: none;
    font-size: 0.9rem;
    color: #94a3b8;
    margin-top: 1rem;
    margin-left: 0.1rem;
  }
  
  /* Contact Info */
  .contact-info {
    margin-top: 1rem;
    margin: 1rem;
    font-size: 0.8rem;
    color: #cbd5e1;
  }
  
  .main-content {
    width: 80%;
    display: flex;
    flex-direction: row; /* default for desktop */
    gap: 1.5rem;
    padding-left: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column; /* mobile layout */
      width: 100%;
      margin-top: 1rem;
    }
  }
  /* Code Editor */
  .code-editor {
    padding: 1rem;
    border-radius: 8px;
    color: #a5f3fc;
    overflow-x: auto;
    border-radius: 1rem;
    border-left: 4px solid #2563eb;
    background: #1e293b;
  }
  
  /* Snippets */
  .snippet-section h3 {
    font-size: 1rem;
    color: #38bdf8;
    margin-bottom: 0.5rem;
  }
  
  .snippet-card {
    background: #1e293b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border-left: 4px solid #2563eb;
  }
  
  .snippet-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #94a3b8;
    margin-bottom: 0.5rem;
  }
  
  .snippet-card pre {
    font-size: 0.85rem;
    color: #e2e8f0;
    white-space: pre-wrap;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      margin-bottom: 0;
      border-bottom: 1px solid #1e293b;
    }
  
    .main-content {
      width: 100%;
      margin-top: 1rem;
      margin: 1rem;
    }
  
    .snippet-meta {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
    }
  }
  
  a, u {
    text-decoration: none;
  }