.diagram-detail {
    padding: 1rem;
    background-color: #0f172a;
    color: #e2e8f0;
    border: 1px solid #1e293b;
    border-radius: 6px;
    margin-top: 1rem;
  }

  .diagram-box {
    flex: 1 1 150px;
    background-color: #1e293b;
    color: #facc15;
    border: 1px solid #334155;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .diagram-box:hover {
    background-color: #334155;
    transform: scale(1.05);
  }
  
  .diagram-container {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
    position: relative;
  }
  
  .arrow-svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }
  
  

  .project-detail-container {
    flex-direction: row;
    font-family: 'Fira Code', monospace;
    background-color: #0e1129;
    color: #d0d6f9;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .section-title {
    margin-bottom: 1rem;
    color: #facc15;
    font-size: 0.9rem;
    border-bottom: 1px solid #1e293b;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  a, u {
    text-decoration: none;
  }