.root {
  --bg: #0e1129;
}

.projects-container {
    display: flex;
    font-family: 'Fira Code', monospace;
    color: #cbd5e1;
    background-color: #0e1129;
    height: 100vh;
  }
  
  .skills-sidebar {
    width: 20%;
    border-right: 1px solid #1e2233;
    background-color: var(--bg);
  }

    /* Responsive */
    @media (max-width: 768px) {
      .projects-container {
        flex-direction: column;
      }

      .skills-sidebar {
        width: 100%;
      }
    }
  
  .sidebar-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    color: #facc15;
    font-size: 0.9rem;
    border-bottom: 1px solid #1e293b;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 1rem;

  }
  
  .skill-checkbox {
    color: #94a3b8;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .skill-checkbox input {
    accent-color: #facc15;
  }
  
  .projects-main {
    flex: 1;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
  }
  
  .tab-title {
    font-size: 0.875rem;
    color: #facc15;
    border-bottom: 1px solid #1e2233;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    overflow-y: auto;
  }
  
  .project-card {
    background-color: var(--bg);
    border-radius: 0.5rem;
    margin: 1rem;
    border: 1px solid #1e2233;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .project-title {
    color: #818cf8;
    font-size: 1rem;
    margin: 0.5rem
  }
  
  .project-title span {
    color: #9ca3af;
    font-size: 0.875rem;
  }
  
  .project-image {
    width: 50%;
    border-radius: 0.5rem;
    padding: 1rem;
    align-self: center;
  }
  
  .project-desc {
    font-size: 0.875rem;
    color: #94a3b8;
    margin: 0.5rem
  }
  
  .view-btn {
    align-self: center;
    background-color: #1f2937;
    color: #d1d5db;
    font-size: 0.75rem;
    margin: 0.4rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .view-btn:hover {
    background-color: #334155;
  }
  
  a, u {
    text-decoration: none;
  }