.root {
    --bg : #0e1129;
}
.terminal-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0e1129;
    border-top: 1px solid #1e2233;
    padding: 0.5rem 1rem;
    font-family: 'Fira Code', monospace;
    color: #9ca3af;
    height: 2.5rem;
    font-size: 0.875rem;
  }
  
